## 0. Load imports

In [1]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [2]:
## load data on 2020 crimes in DC
dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-77.023988,38.901486,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,900 - 999 BLOCK OF 9TH STREET NW,397919.40,137069.63,...,005802 5,5802.0,Precinct 129,38.901478,-77.023986,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,216265753,NaN
1,-77.030788,38.911876,16641,2020/01/28 05:14:39+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1300 - 1399 BLOCK OF CORCORAN STREET NW,397330.00,138223.20,...,005001 2,5001.0,Precinct 16,38.911868,-77.030785,NaN,2020/01/28 05:14:58+00,2020/01/28 05:15:02+00,216265754,NaN
2,-77.001746,38.821637,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.54,128205.63,...,009811 1,9811.0,Precinct 125,38.821630,-77.001744,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,216268429,NaN
3,-77.004495,38.928807,19073083,2020/12/11 05:00:00+00,MIDNIGHT,KNIFE,HOMICIDE,100 - 379 BLOCK OF MICHIGAN AVENUE NE,399610.40,140102.24,...,002302 2,2302.0,Precinct 44,38.928799,-77.004493,NaN,2019/04/29 20:50:27+00,2019/04/29 20:55:58+00,216477883,NaN
4,-77.085291,38.959920,20000964,2020/01/02 19:31:26+00,DAY,OTHERS,THEFT/OTHER,5300 - 5399 BLOCK OF WISCONSIN AVENUE NW,392607.98,143559.50,...,001004 1,1004.0,Precinct 31,38.959912,-77.085288,NaN,2020/01/02 18:10:05+00,2020/01/02 19:02:28+00,216490133,NaN

(27912, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27912 entries, 0 to 27911
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27912 non-null  float64
 1   Y                     27912 non-null  float64
 2   CCN                   27912 non-null  int64
 3   REPORT_DAT            27912 non-null  object
 4   SHIFT                 27912 non-null  object
 5   METHOD                27912 non-null  object
 6   OFFENSE               27912 non-null  object
 7   BLOCK                 27912 non-null  object
 8   XBLOCK                27912 non-null  float64
 9   YBLOCK                27912 non-null  float64
 10  WARD                  27912 non-null  int64
 11  ANC                   27912 non-null  object
 12  DISTRICT              27883 non-null  float64
 13  PSA                   27877 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27912 non-null  object
 15  BLOCK_GROUP           27911 non-null  object
 16  CENSUS_TRACT          27911 non-null  float64
 17  VOTING_PRECINCT       27912 non-null  object
 18  LATITUDE              27912 non-null  float64
 19  LONGITUDE             27912 non-null  float64
 20  BID                   4657 non-null   object
 21  START_DATE            27911 non-null  object
 22  END_DATE              24831 non-null  object
 23  OBJECTID              27912 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

*Hint:* `'nunique'` is the built-in pandas aggregation function for counting unique elements in a list.

In [ ]:
## your code here

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: The previous task showed number of offenses by ward, but now say we want to find out the content of offenses in each ward. Create an aggregation that summarizes both the number of unique offenses by ward **and** what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...).

*Hint 1*: You can use a lambda function with the join command to paste together a list separated by some delimiter. The syntax looks like (with a comma delimiter): `", ".join(nameoflist)`. 

*Hint 2*: You can get a list of all unique elements of a list with `nameoflist.unique()`.

In [ ]:
## your code here

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift.

*Hint*: Use `value_counts()` to count the frequency of each type of `OFFENSE`, then slice the first element from the sorted result.

In [ ]:
## your code here

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: Find the mean latitude and longitude in one line of code.

In [ ]:
## your code here

## 2. Creating new columns/transforming their type

### Simple np.where

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

**Task**: Create a new column `is_theft` in `dc_crim_2020` with a True/False indicator for any offense that contains the word "THEFT".

In [ ]:
## your code here

**Task**: Create another indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

*Hint*: Use the tilde (`~`) to negate a condition

In [ ]:
## your code here

### np.select

**Task**: Create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a `GUN` or `KNIFE` as the method (`METHOD`) as: `violent_theft`
- Recode non-theft offenses that use a `GUN` or `KNIFE` as the method as: `violent_other`
- Recode all other as `non-violent`

*Hint 1*: There are multiple conditons to satisfy here. Use your `is_theft` indicator in conjunction with the one you're creating based on the `METHOD` column.

*Hint 2*: When using `np.select()`, remember these steps: 
1. create a list of conditions
2. create a list of corresponding names you want to recode into
3. apply the above to create a new column

In [ ]:
## your code here

### map and dictionary

**Task**: Recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

*Hint 1*: You can learn the categories of `SHIFT` with `value_counts()`.

*Hint 2*: First define a dictionary and then apply it with `map`. 

*Hint 3*: You can use the `fillna()` function to assign anything that doesn't fit your dictionary.

In [ ]:
## your code here

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

*Hint*: The string method for *replacing* things is called what you would expect.

In [ ]:
## your code here

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [ ]:
## your code here

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [ ]:
## your code here

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [ ]:
## your code here

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [ ]:
## your code here

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [ ]:
## your code here

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [ ]:
## your code here

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

*Hint*: Use `sample(n = 10)` to get 10 random rows.

In [ ]:
## your code here