## 0. Load imports

In [1]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [77]:
## load data on 2020 crimes in DC
dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-77.044885,38.911506,20024652,2020/02/10 05:06:34+00,MIDNIGHT,GUN,ROBBERY,1600 - 1639 BLOCK OF 20TH STREET NW,396107.33,138182.60,...,005502 1,5502.0,Precinct 14,38.911498,-77.044883,DUPONT CIRCLE,2020/02/10 04:09:47+00,2020/02/10 05:06:40+00,97431273,NaN
1,-77.046632,38.912245,20016623,2020/01/28 04:01:40+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1613 - 1699 BLOCK OF 21ST STREET NW,395955.84,138264.80,...,005502 1,5502.0,Precinct 14,38.912238,-77.046630,NaN,2020/01/28 01:00:07+00,2020/01/28 03:01:00+00,97431275,NaN
2,-77.044497,38.915343,20027213,2020/02/14 07:38:05+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1907 - 1999 BLOCK OF FLORIDA AVENUE NW,396141.17,138608.55,...,004202 2,4202.0,Precinct 14,38.915335,-77.044495,NaN,2020/02/14 05:40:50+00,2020/02/14 06:30:11+00,97431276,NaN
3,-77.046639,38.907581,20083061,2020/06/04 23:18:23+00,EVENING,OTHERS,THEFT/OTHER,1301 - 1319 BLOCK OF 21ST STREET NW,395954.99,137747.05,...,005502 2,5502.0,Precinct 14,38.907573,-77.046637,NaN,2020/06/04 00:30:00+00,2020/06/04 12:00:03+00,97431278,NaN
4,-77.045303,38.907659,20117215,2020/08/16 23:27:28+00,EVENING,OTHERS,BURGLARY,1300 - 1348 BLOCK OF NEW HAMPSHIRE AVENUE NW,396070.88,137755.60,...,005502 3,5502.0,Precinct 14,38.907651,-77.045301,NaN,2020/08/16 03:30:21+00,2020/08/16 06:00:27+00,97431285,NaN

(27915, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27915 entries, 0 to 27914
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27915 non-null  float64
 1   Y                     27915 non-null  float64
 2   CCN                   27915 non-null  int64
 3   REPORT_DAT            27915 non-null  object
 4   SHIFT                 27915 non-null  object
 5   METHOD                27915 non-null  object
 6   OFFENSE               27915 non-null  object
 7   BLOCK                 27915 non-null  object
 8   XBLOCK                27915 non-null  float64
 9   YBLOCK                27915 non-null  float64
 10  WARD                  27915 non-null  int64
 11  ANC                   27915 non-null  object
 12  DISTRICT              27886 non-null  float64
 13  PSA                   27880 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27915 non-null  object
 15  BLOCK_GROUP           27914 non-null  object
 16  CENSUS_TRACT          27914 non-null  float64
 17  VOTING_PRECINCT       27915 non-null  object
 18  LATITUDE              27915 non-null  float64
 19  LONGITUDE             27915 non-null  float64
 20  BID                   4659 non-null   object
 21  START_DATE            27914 non-null  object
 22  END_DATE              24834 non-null  object
 23  OBJECTID              27915 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

## 2. Creating new columns/transforming their type

### Simple np.where

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

### Transforming column types

**Task**: check the type of the `START_DATE` column

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows