In [1]:
## imports
import pandas as pd
import numpy as np
import re
import requests
import yaml


## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1. Example 1: no credentials; no wrapper

Site: National Assessment of Education Progress (NAEP)

Documentation: https://www.nationsreportcard.gov/api_documentation.aspx

Base link: https://www.nationsreportcard.gov/DataService/GetAdhocData.aspx

## 1.1 Query to pull some data

In [2]:
## using their example query of 2011 writing scores separated by gender
## based on here - https://stackoverflow.com/questions/40836749/pythonic-way-of-writing-a-single-line-long-string
## using the ( ) syntax to formulate a long
## string without linebreaks added
example_naep_query = (
'https://www.nationsreportcard.gov/'
'Dataservice/GetAdhocData.aspx?'
'type=data&subject=writing&grade=8&'
'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011')


example_naep_query

'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011'

In [3]:
## use requests to call the api
naep_resp = requests.get(example_naep_query)
naep_resp
print(type(naep_resp))

## get the json contents of the response 
## here, we're assuming valid response
naep_resp_j = naep_resp.json()
naep_resp_j

## with result, turn it into a dataframe
naep_resp_d = pd.DataFrame(naep_resp_j['result'])
naep_resp_d

<class 'requests.models.Response'>

{'status': 200,
 'result': [{'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '1',
   'varValueLabel': 'Male',
   'value': 139.099504632971,
   'isStatDisplayable': 1,
   'errorFlag': 0},
  {'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '2',
   'varValueLabel': 'Female',
   'value': 158.567104984955,
   'isStatDisplayable': 1,
   'errorFlag': 0}]}

,year,sample,yearSampleLabel,Cohort,CohortLabel,stattype,subject,grade,scale,jurisdiction,variable,variableLabel,varValue,varValueLabel,value,isStatDisplayable,errorFlag
0,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,GENDER,Gender,1,Male,139.099505,1,0
1,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,GENDER,Gender,2,Female,158.567105,1,0

## 1.2 What happens if there's an error in our query?

In [4]:
## here's a query that from the documentation we know
## won't work since i modified year to 2025 which doesnt
## exist in the data
wrong_naep_query = (
'https://www.nationsreportcard.gov/'
'Dataservice/GetAdhocData.aspx?'
'type=data&subject=writing&grade=8&'
'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2025')

wrong_naep_query

'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2025'

In [5]:
## use requests to call the api
naep_wrong_resp = requests.get(wrong_naep_query)
naep_wrong_resp

In [6]:
## in the case of this particular api,
## the call returns some response but
## when we try to extract the json containing
## status or results, we get in an error
naep_wrong_resp.json()

JSONDecodeError: Invalid control character at: line 1 column 289 (char 288)

### 1.2.2 More all-purpose way of allowing remainder of calls to run: try, except

In [21]:
## putting it in a try; except as general error catching
try:
    results = naep_wrong_resp.json()['result']
except Exception as e:
    print('Failed to get result from API due to error:')
    print(e) # or just: pass

Failed to get result from API due to error:
Invalid control character at: line 1 column 289 (char 288)

### 1.2.3 Can usually also find more targeted way but that varies more across APIs

In [15]:
## if we wanted do more specific error catching,
## see that the status == 400 actually appears here
## so could write if else along those lines
naep_wrong_resp.text
naep_resp.text

if "System.Exception" in naep_wrong_resp.text:
    print("NAEP results not found")

'{"status":400,"result": "System.Exception: The query \'SELECT DISTINCT Framework FROM Cycles WHERE Subject=\'WRI\' AND Cohort=2 AND CONVERT(VARCHAR(10),Year)+Sample IN (\'2025R3\')\' did not return exactly 1 framework. Make sure you can trend the years defined for the given subject and cohort.\r\n   at NRCDataService3.GetAdhocData.GetFramework(NDEContext& ndeContext, String subjectCode, List`1 yearSamples, String cohort) in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 1952\r\n   at NRCDataService3.GetAdhocData.PopulateBaseOrchestratorRequest() in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 1713\r\n   at NRCDataService3.GetAdhocData.ConstructRequest_Datapoint() in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 560\r\n   at NRCDataService3.GetAdhocData.Page_Load(Object sender, EventArgs e) in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 136"}'

'{"status":200,"result": [{"year":2011,"sample":"R3","yearSampleLabel":"2011","Cohort":2,"CohortLabel":"Grade 8","stattype":"MN:MN","subject":"WRI","grade":8,"scale":"WRIRP","jurisdiction":"NP","variable":"GENDER","variableLabel":"Gender","varValue":"1","varValueLabel":"Male","value":139.099504632971,"isStatDisplayable":1,"errorFlag":0},{"year":2011,"sample":"R3","yearSampleLabel":"2011","Cohort":2,"CohortLabel":"Grade 8","stattype":"MN:MN","subject":"WRI","grade":8,"scale":"WRIRP","jurisdiction":"NP","variable":"GENDER","variableLabel":"Gender","varValue":"2","varValueLabel":"Female","value":158.567104984955,"isStatDisplayable":1,"errorFlag":0}]}'

NAEP results not found

## Activity 1: writing a function to make multiple, sequential calls

- Say we want to pull the data for grades 4, 8, and 12
- How can we write a function that iterates over a list of those grades and pulls the data for each grade?

**Note**: an ideal function would have arguments for each parameter in the API like subject, subscale, etc. Here we can leave those other parts constant

In [9]:
# your code here

# 2. Example 2: needs credentials; no wrapper

In [22]:
## load creds- STUDENTS: REPLACE WITH PATHNAME TO YOURS 
with open("my_cred_JH.yaml", 'r') as stream:
    try:
        creds = yaml.safe_load(stream)
    except yaml.YAMLError as exc:
        print(exc)

## get the key
API_KEY = creds['yelp_api']['api_key']

In [23]:
## use documentation to define what to search
## doc: https://www.yelp.com/developers/documentation/v3/business_search
## write the query 
base_url = "https://api.yelp.com/v3/businesses/search?"
my_name = "restaurants"
my_location = "Hanover,NH,03755"
yelp_genquery = ('{base_url}'
                'term={name}'
                '&location={loc}').format(base_url = base_url,
                name = my_name,
                loc = my_location)

## use requests to call the API; here, we're
## passing it our credentials (structure varies
## by API and telling it to only return 10 results
## (max is 50 at once)
header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp = requests.get(yelp_genquery, headers = header)
yelp_genresp

## then, look at structure of response
yelp_genjson = yelp_genresp.json()

In [26]:
## example business
yelp_genjson['businesses'][0]

## more automatic way of summarizing but things end up in lists
## within columns for things like categories
yelp_gendf = pd.DataFrame(yelp_genjson['businesses'])
yelp_gendf.head()

{'id': '8ybF6YyRldtZmU9jil4xlg',
 'alias': 'mollys-restaurant-and-bar-hanover',
 'name': "Molly's Restaurant & Bar",
 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/1YkJFic4Czt9b2FsZyOrwQ/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/mollys-restaurant-and-bar-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA',
 'review_count': 460,
 'categories': [{'alias': 'tradamerican', 'title': 'American (Traditional)'},
  {'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'pizza', 'title': 'Pizza'}],
 'rating': 4.0,
 'coordinates': {'latitude': 43.701144, 'longitude': -72.2894249},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '43 South Main St',
  'address2': '',
  'address3': '',
  'city': 'Hanover',
  'zip_code': '03755',
  'country': 'US',
  'state': 'NH',
  'display_address': ['43 South Main St', 'Hanover, NH 03755']},
 'phone': '+16036432570',
 'display_phone': '(603) 643-2570',
 'distance': 250.8301601841674}

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,8ybF6YyRldtZmU9jil4xlg,mollys-restaurant-and-bar-hanover,Molly's Restaurant & Bar,https://s3-media2.fl.yelpcdn.com/bphoto/1YkJFi...,False,https://www.yelp.com/biz/mollys-restaurant-and...,460,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 43.701144, 'longitude': -72.2894249}",[delivery],$$,"{'address1': '43 South Main St', 'address2': '...",+16036432570,(603) 643-2570,250.830160
1,XVGEEIH5rVB2QzW-qywcJw,base-camp-cafe-hanover,Base Camp Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiE...,False,https://www.yelp.com/biz/base-camp-cafe-hanove...,225,"[{'alias': 'himalayan', 'title': 'Himalayan/Ne...",4.5,"{'latitude': 43.700626, 'longitude': -72.2887803}",[delivery],$$,"{'address1': '3 Lebanon St', 'address2': 'Ste ...",+16036432007,(603) 643-2007,196.139758
2,neBEWvgHNhsXIBImCYx_6A,murphy-s-on-the-green-hanover,Murphy’s on the Green,https://s3-media3.fl.yelpcdn.com/bphoto/xH4Nk5...,False,https://www.yelp.com/biz/murphy-s-on-the-green...,158,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 43.702, 'longitude': -72.2894949}",[delivery],$$,"{'address1': '11 S Main St', 'address2': '', '...",+16036434075,(603) 643-4075,295.207523
3,uZ6rg3gYgoWqFB5tOB49VQ,tacos-y-tequila-hanover,Tacos Y Tequila,https://s3-media4.fl.yelpcdn.com/bphoto/FXmbPb...,False,https://www.yelp.com/biz/tacos-y-tequila-hanov...,10,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",4.0,"{'latitude': 43.70063761388881, 'longitude': -...",[],$$,"{'address1': '3 Lebanon St', 'address2': '', '...",+16036963155,(603) 696-3155,196.040008
4,34j_2nRCVQBTKafJvncZlg,pine-restaurant-hanover-2,PINE Restaurant,https://s3-media2.fl.yelpcdn.com/bphoto/rD7w_r...,False,https://www.yelp.com/biz/pine-restaurant-hanov...,200,"[{'alias': 'newamerican', 'title': 'American (...",3.5,"{'latitude': 43.7024572, 'longitude': -72.2875...",[delivery],$$$,"{'address1': '2 E Wheelock St', 'address2': No...",+16036468000,(603) 646-8000,256.004291

In [14]:
## more data-specific way of summarizing
## we're doing a simple approach and just retaining
## cols that have a simple str structure
## if doing for real, would want to extract things
def clean_yelp_json(one_biz):

    ## restrict to str cols
    for key, value in one_biz.items():
        print(value)
        print(type(value))
    d_str = {key:value for key, value in one_biz.items()
             if type(value) == str}
    
    df_str = pd.DataFrame(d_str, index = [d_str['id']])
    return(df_str)

yelp_stronly = [clean_yelp_json(one_b) for one_b in yelp_genjson['businesses']]
yelp_stronly_df = pd.concat(yelp_stronly)

yelp_stronly_df.head(7)

8ybF6YyRldtZmU9jil4xlg
<class 'str'>
mollys-restaurant-and-bar-hanover
<class 'str'>
Molly's Restaurant & Bar
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/1YkJFic4Czt9b2FsZyOrwQ/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/mollys-restaurant-and-bar-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
460
<class 'int'>
[{'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'pizza', 'title': 'Pizza'}]
<class 'list'>
4.0
<class 'float'>
{'latitude': 43.701144, 'longitude': -72.2894249}
<class 'dict'>
['delivery']
<class 'list'>
$$
<class 'str'>
{'address1': '43 South Main St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['43 South Main St', 'Hanover, NH 03755']}
<class 'dict'>
+16036432570
<class 'str'>
(603) 643-2570
<class 'str'>
250.8301601841674
<class 'float'>
XVGEEIH5rVB2QzW-qywcJw
<class 'str'>
base-camp-cafe-hanover
<class 'str'>
Base Camp Cafe
<class 'str'>
https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiEQI7p_JF82eaWa9Xg/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/base-camp-cafe-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
225
<class 'int'>
[{'alias': 'himalayan', 'title': 'Himalayan/Nepalese'}]
<class 'list'>
4.5
<class 'float'>
{'latitude': 43.700626, 'longitude': -72.2887803}
<class 'dict'>
['delivery']
<class 'list'>
$$
<class 'str'>
{'address1': '3 Lebanon St', 'address2': 'Ste 13', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['3 Lebanon St', 'Ste 13', 'Hanover, NH 03755']}
<class 'dict'>
+16036432007
<class 'str'>
(603) 643-2007
<class 'str'>
196.1397581876442
<class 'float'>
neBEWvgHNhsXIBImCYx_6A
<class 'str'>
murphy-s-on-the-green-hanover
<class 'str'>
Murphy’s on the Green
<class 'str'>
https://s3-media3.fl.yelpcdn.com/bphoto/xH4Nk569TeHQo4YN9P6e8w/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/murphy-s-on-the-green-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
158
<class 'int'>
[{'alias': 'newamerican', 'title': 'American (New)'}, {'alias': 'seafood', 'title': 'Seafood'}, {'alias': 'pubs', 'title': 'Pubs'}]
<class 'list'>
4.0
<class 'float'>
{'latitude': 43.702, 'longitude': -72.2894949}
<class 'dict'>
['delivery']
<class 'list'>
$$
<class 'str'>
{'address1': '11 S Main St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['11 S Main St', 'Hanover, NH 03755']}
<class 'dict'>
+16036434075
<class 'str'>
(603) 643-4075
<class 'str'>
295.20752311926014
<class 'float'>
uZ6rg3gYgoWqFB5tOB49VQ
<class 'str'>
tacos-y-tequila-hanover
<class 'str'>
Tacos Y Tequila
<class 'str'>
https://s3-media4.fl.yelpcdn.com/bphoto/FXmbPbGPX97pPbiWSMB04Q/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/tacos-y-tequila-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
10
<class 'int'>
[{'alias': 'mexican', 'title': 'Mexican'}, {'alias': 'bars', 'title': 'Bars'}, {'alias': 'venues', 'title': 'Venues & Event Spaces'}]
<class 'list'>
4.0
<class 'float'>
{'latitude': 43.70063761388881, 'longitude': -72.2887803}
<class 'dict'>
[]
<class 'list'>
$$
<class 'str'>
{'address1': '3 Lebanon St', 'address2': '', 'address3': None, 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['3 Lebanon St', 'Hanover, NH 03755']}
<class 'dict'>
+16036963155
<class 'str'>
(603) 696-3155
<class 'str'>
196.04000826741668
<class 'float'>
34j_2nRCVQBTKafJvncZlg
<class 'str'>
pine-restaurant-hanover-2
<class 'str'>
PINE Restaurant
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/rD7w_rhwhVqJcgoCdBVzww/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/pine-restaurant-hanover-2?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
200
<class 'int'>
[{'alias': 'newamerican', 'title': 'American (New)'}]
<class 'list'>
3.5
<class 'float'>
{'latitude': 43.7024572, 'longitude': -72.2875656}
<class 'dict'>
['delivery']
<class 'list'>
$$$
<class 'str'>
{'address1': '2 E Wheelock St', 'address2': None, 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['2 E Wheelock St', 'Hanover, NH 03755']}
<class 'dict'>
+16036468000
<class 'str'>
(603) 646-8000
<class 'str'>
256.00429144986015
<class 'float'>
vMyN7JL5cJExJORgIobbQg
<class 'str'>
tuk-tuk-thai-cuisine-hanover
<class 'str'>
Tuk Tuk Thai Cuisine
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/z_e1lZCHkmgBcO0G07ehrw/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/tuk-tuk-thai-cuisine-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
281
<class 'int'>
[{'alias': 'thai', 'title': 'Thai'}]
<class 'list'>
4.0
<class 'float'>
{'latitude': 43.70202, 'longitude': -72.28953}
<class 'dict'>
['pickup']
<class 'list'>
$$
<class 'str'>
{'address1': '5 S Main St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['5 S Main St', 'Hanover, NH 03755']}
<class 'dict'>
+16032779192
<class 'str'>
(603) 277-9192
<class 'str'>
299.13750872729145
<class 'float'>
eba9e8OxN7pAhxoDT-J0ww
<class 'str'>
the-nest-kitchen-hanover
<class 'str'>
The Nest Kitchen
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/Ak41eyD_MwbqCTziZiQacw/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/the-nest-kitchen-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
13
<class 'int'>
[{'alias': 'cafes', 'title': 'Cafes'}]
<class 'list'>
4.0
<class 'float'>
{'latitude': 43.70053, 'longitude': -72.29007}
<class 'dict'>
[]
<class 'list'>
{'address1': '57 S Main St', 'address2': None, 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['57 S Main St', 'Hanover, NH 03755']}
<class 'dict'>
+16032772916
<class 'str'>
(603) 277-2916
<class 'str'>
301.3637102994178
<class 'float'>
EAE-lFuMDeDIIlDtVba79w
<class 'str'>
dunks-hanover
<class 'str'>
Dunks
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/LQKTe7y546UvZjx1JDxFHg/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/dunks-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
8
<class 'int'>
[{'alias': 'sportsbars', 'title': 'Sports Bars'}, {'alias': 'newamerican', 'title': 'American (New)'}]
<class 'list'>
4.0
<class 'float'>
{'latitude': 43.70072, 'longitude': -72.28945}
<class 'dict'>
[]
<class 'list'>
{'address1': '7 Lebanon St', 'address2': '', 'address3': None, 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['7 Lebanon St', 'Hanover, NH 03755']}
<class 'dict'>
+16032779102
<class 'str'>
(603) 277-9102
<class 'str'>
169.82167790259317
<class 'float'>
wyV_NfYn4ZOfp_sHMDPcAw
<class 'str'>
bistro-at-six-hanover
<class 'str'>
Bistro at Six
<class 'str'>
https://s3-media1.fl.yelpcdn.com/bphoto/XRoCB_XGInF7IRsOLsmXkg/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/bistro-at-six-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
3
<class 'int'>
[{'alias': 'lounges', 'title': 'Lounges'}, {'alias': 'cocktailbars', 'title': 'Cocktail Bars'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}]
<class 'list'>
3.5
<class 'float'>
{'latitude': 43.7001146, 'longitude': -72.2877078}
<class 'dict'>
[]
<class 'list'>
$$
<class 'str'>
{'address1': '6 E South St', 'address2': None, 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['6 E South St', 'Hanover, NH 03755']}
<class 'dict'>
+16036430600
<class 'str'>
(603) 643-0600
<class 'str'>
198.65178837196856
<class 'float'>
ilTHZmqn9LWA086yzOB1PQ
<class 'str'>
impasto-hanover
<class 'str'>
Impasto
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/TBTPJPNkd4WuOR80G5LscQ/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/impasto-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
11
<class 'int'>
[{'alias': 'italian', 'title': 'Italian'}, {'alias': 'cocktailbars', 'title': 'Cocktail Bars'}]
<class 'list'>
3.5
<class 'float'>
{'latitude': 43.70095667820018, 'longitude': -72.28916559999999}
<class 'dict'>
['delivery']
<class 'list'>
{'address1': '44 S Main St', 'address2': '', 'address3': None, 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['44 S Main St', 'Hanover, NH 03755']}
<class 'dict'>
+16034480000
<class 'str'>
(603) 448-0000
<class 'str'>
227.4463114058131
<class 'float'>
Tg8O0iPqeD_IjFGwTLqacw
<class 'str'>
han-fusion-hanover
<class 'str'>
Han Fusion
<class 'str'>
https://s3-media3.fl.yelpcdn.com/bphoto/d2UdWLijo6mwegVymqhwLQ/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/han-fusion-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
40
<class 'int'>
[{'alias': 'chinese', 'title': 'Chinese'}, {'alias': 'sushi', 'title': 'Sushi Bars'}, {'alias': 'thai', 'title': 'Thai'}]
<class 'list'>
4.0
<class 'float'>
{'latitude': 43.700641, 'longitude': -72.2887803}
<class 'dict'>
['delivery']
<class 'list'>
{'address1': '3 Lebanon St', 'address2': 'Ste 15', 'address3': None, 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['3 Lebanon St', 'Ste 15', 'Hanover, NH 03755']}
<class 'dict'>
+16036438888
<class 'str'>
(603) 643-8888
<class 'str'>
196.01251786876801
<class 'float'>
Ecdu5qYM09F647Uoez99vg
<class 'str'>
ramuntos-brick-and-brew-pizzeria-hanover
<class 'str'>
Ramunto's Brick & Brew Pizzeria
<class 'str'>
https://s3-media3.fl.yelpcdn.com/bphoto/bPy9NZGEsPsmi8dtCzI77w/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/ramuntos-brick-and-brew-pizzeria-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
128
<class 'int'>
[{'alias': 'pizza', 'title': 'Pizza'}]
<class 'list'>
3.5
<class 'float'>
{'latitude': 43.6998454, 'longitude': -72.2877323}
<class 'dict'>
['delivery']
<class 'list'>
$
<class 'str'>
{'address1': '9 E South St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['9 E South St', 'Hanover, NH 03755']}
<class 'dict'>
+16036439500
<class 'str'>
(603) 643-9500
<class 'str'>
163.8825828645752
<class 'float'>
KA8yhrd-ClVYMyOefXdVYg
<class 'str'>
lous-restaurant-and-bakery-hanover
<class 'str'>
Lou's Restaurant & Bakery
<class 'str'>
https://s3-media3.fl.yelpcdn.com/bphoto/VAx8H9Xy_Dc_mAY-nuNt9A/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/lous-restaurant-and-bakery-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
326
<class 'int'>
[{'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'bakeries', 'title': 'Bakeries'}, {'alias': 'donuts', 'title': 'Donuts'}]
<class 'list'>
4.0
<class 'float'>
{'latitude': 43.70143, 'longitude': -72.289001}
<class 'dict'>
['delivery']
<class 'list'>
$$
<class 'str'>
{'address1': '30 S Main St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['30 S Main St', 'Hanover, NH 03755']}
<class 'dict'>
+16036433321
<class 'str'>
(603) 643-3321
<class 'str'>
244.50572777871844
<class 'float'>
GXX6xbCK1EBH9X6zJf3wVA
<class 'str'>
sushiya-hanover-2
<class 'str'>
Sushiya
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/722XFn3sj90cWPJalrF6qQ/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/sushiya-hanover-2?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
88
<class 'int'>
[{'alias': 'korean', 'title': 'Korean'}, {'alias': 'sushi', 'title': 'Sushi Bars'}, {'alias': 'japanese', 'title': 'Japanese'}]
<class 'list'>
3.5
<class 'float'>
{'latitude': 43.699737, 'longitude': -72.289326}
<class 'dict'>
['pickup', 'delivery']
<class 'list'>
$$
<class 'str'>
{'address1': '72 S Main St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['72 S Main St', 'Hanover, NH 03755']}
<class 'dict'>
+16036434000
<class 'str'>
(603) 643-4000
<class 'str'>
265.40959563254313
<class 'float'>
YJ3XYASE8ML-Tb18Q7Qfyg
<class 'str'>
boloco-hanover-6
<class 'str'>
Boloco
<class 'str'>
https://s3-media1.fl.yelpcdn.com/bphoto/Yk5Pz5NGfKELNFg8iSAXOQ/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/boloco-hanover-6?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
114
<class 'int'>
[{'alias': 'newamerican', 'title': 'American (New)'}]
<class 'list'>
3.5
<class 'float'>
{'latitude': 43.7013062264829, 'longitude': -72.2895859997003}
<class 'dict'>
['pickup', 'delivery']
<class 'list'>
$
<class 'str'>
{'address1': '35 S Main St', 'address2': '', 'address3': 'Dartmouth College', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['35 S Main St', 'Dartmouth College', 'Hanover, NH 03755']}
<class 'dict'>
+16036430202
<class 'str'>
(603) 643-0202
<class 'str'>
267.06370075516855
<class 'float'>
5WW4g_LRwau29KyjZGLyAA
<class 'str'>
sawtooth-kitchen-hanover
<class 'str'>
Sawtooth Kitchen
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/5Y8XB_g9Zx2vDNlWMd1YUQ/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/sawtooth-kitchen-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
1
<class 'int'>
[{'alias': 'chickenshop', 'title': 'Chicken Shop'}]
<class 'list'>
5.0
<class 'float'>
{'latitude': 43.70158, 'longitude': -72.289641}
<class 'dict'>
[]
<class 'list'>
{'address1': '33 S Main St', 'address2': '', 'address3': None, 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['33 S Main St', 'Hanover, NH 03755']}
<class 'dict'>
+16036435134
<class 'str'>
(603) 643-5134
<class 'str'>
242.6075518026577
<class 'float'>
VmMQltoybbk2XFQlWXktLw
<class 'str'>
jewel-of-india-hanover
<class 'str'>
Jewel of India
<class 'str'>
https://s3-media2.fl.yelpcdn.com/bphoto/xhyLnDNqDa2-J9EooMhyuw/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/jewel-of-india-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
150
<class 'int'>
[{'alias': 'indpak', 'title': 'Indian'}]
<class 'list'>
3.0
<class 'float'>
{'latitude': 43.700907, 'longitude': -72.286006}
<class 'dict'>
['pickup', 'delivery']
<class 'list'>
$$
<class 'str'>
{'address1': '11 Lebanon St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['11 Lebanon St', 'Hanover, NH 03755']}
<class 'dict'>
+16036432217
<class 'str'>
(603) 643-2217
<class 'str'>
31.564101493166955
<class 'float'>
5vKVnel7PsD9Mv_Ki1tkUQ
<class 'str'>
samosa-man-hanover
<class 'str'>
Samosa Man
<class 'str'>

<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/samosa-man-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
4
<class 'int'>
[{'alias': 'indpak', 'title': 'Indian'}]
<class 'list'>
5.0
<class 'float'>
{'latitude': 43.70047, 'longitude': -72.28914}
<class 'dict'>
[]
<class 'list'>
{'address1': '50 S Main St', 'address2': 'Unit 14', 'address3': None, 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['50 S Main St', 'Unit 14', 'Hanover, NH 03755']}
<class 'dict'>
+18022337783
<class 'str'>
(802) 233-7783
<class 'str'>
236.55857742350176
<class 'float'>
1yTM59uje_iMMdwKXI7-sA
<class 'str'>
umplebys-bakery-and-cafe-hanover
<class 'str'>
Umpleby's Bakery & Cafe
<class 'str'>
https://s3-media1.fl.yelpcdn.com/bphoto/jlAlp5GmOrf1YvueIm6HeQ/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/umplebys-bakery-and-cafe-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
75
<class 'int'>
[{'alias': 'bakeries', 'title': 'Bakeries'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}, {'alias': 'customcakes', 'title': 'Custom Cakes'}]
<class 'list'>
3.0
<class 'float'>
{'latitude': 43.69993, 'longitude': -72.288839}
<class 'dict'>
['delivery']
<class 'list'>
$
<class 'str'>
{'address1': '3 South St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['3 South St', 'Hanover, NH 03755']}
<class 'dict'>
+16036433030
<class 'str'>
(603) 643-3030
<class 'str'>
220.8437964167156
<class 'float'>
PACJt3XIgdu7ZfSyL7VqUg
<class 'str'>
stinsons-village-store-hanover
<class 'str'>
Stinson's Village Store
<class 'str'>
https://s3-media3.fl.yelpcdn.com/bphoto/Sz8j_l4uRVlc1AdXRcW9IA/o.jpg
<class 'str'>
False
<class 'bool'>
https://www.yelp.com/biz/stinsons-village-store-hanover?adjust_creative=Z3mUebQO2I5wipEWF5pwyA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z3mUebQO2I5wipEWF5pwyA
<class 'str'>
7
<class 'int'>
[{'alias': 'beer_and_wine', 'title': 'Beer, Wine & Spirits'}, {'alias': 'convenience', 'title': 'Convenience Stores'}, {'alias': 'delis', 'title': 'Delis'}]
<class 'list'>
4.5
<class 'float'>
{'latitude': 43.70144252774977, 'longitude': -72.29009471367995}
<class 'dict'>
[]
<class 'list'>
$
<class 'str'>
{'address1': '2 Allen St', 'address2': '', 'address3': '', 'city': 'Hanover', 'zip_code': '03755', 'country': 'US', 'state': 'NH', 'display_address': ['2 Allen St', 'Hanover, NH 03755']}
<class 'dict'>
+16036436086
<class 'str'>
(603) 643-6086
<class 'str'>
310.3652426831521
<class 'float'>

,id,alias,name,image_url,url,price,phone,display_phone
8ybF6YyRldtZmU9jil4xlg,8ybF6YyRldtZmU9jil4xlg,mollys-restaurant-and-bar-hanover,Molly's Restaurant & Bar,https://s3-media2.fl.yelpcdn.com/bphoto/1YkJFi...,https://www.yelp.com/biz/mollys-restaurant-and...,$$,+16036432570,(603) 643-2570
XVGEEIH5rVB2QzW-qywcJw,XVGEEIH5rVB2QzW-qywcJw,base-camp-cafe-hanover,Base Camp Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiE...,https://www.yelp.com/biz/base-camp-cafe-hanove...,$$,+16036432007,(603) 643-2007
neBEWvgHNhsXIBImCYx_6A,neBEWvgHNhsXIBImCYx_6A,murphy-s-on-the-green-hanover,Murphy’s on the Green,https://s3-media3.fl.yelpcdn.com/bphoto/xH4Nk5...,https://www.yelp.com/biz/murphy-s-on-the-green...,$$,+16036434075,(603) 643-4075
uZ6rg3gYgoWqFB5tOB49VQ,uZ6rg3gYgoWqFB5tOB49VQ,tacos-y-tequila-hanover,Tacos Y Tequila,https://s3-media4.fl.yelpcdn.com/bphoto/FXmbPb...,https://www.yelp.com/biz/tacos-y-tequila-hanov...,$$,+16036963155,(603) 696-3155
34j_2nRCVQBTKafJvncZlg,34j_2nRCVQBTKafJvncZlg,pine-restaurant-hanover-2,PINE Restaurant,https://s3-media2.fl.yelpcdn.com/bphoto/rD7w_r...,https://www.yelp.com/biz/pine-restaurant-hanov...,$$$,+16036468000,(603) 646-8000
vMyN7JL5cJExJORgIobbQg,vMyN7JL5cJExJORgIobbQg,tuk-tuk-thai-cuisine-hanover,Tuk Tuk Thai Cuisine,https://s3-media2.fl.yelpcdn.com/bphoto/z_e1lZ...,https://www.yelp.com/biz/tuk-tuk-thai-cuisine-...,$$,+16032779192,(603) 277-9192
eba9e8OxN7pAhxoDT-J0ww,eba9e8OxN7pAhxoDT-J0ww,the-nest-kitchen-hanover,The Nest Kitchen,https://s3-media2.fl.yelpcdn.com/bphoto/Ak41ey...,https://www.yelp.com/biz/the-nest-kitchen-hano...,NaN,+16032772916,(603) 277-2916

# Activity 2: pull restaurants in a different location

- Try running a business search query for your hometown or another place by constructing a query similar to `yelp_genquery` but changing the location parameter
- Other endpoints require feeding what's called the business' fusion id into the API. Take an id from `yelp_stronly.id` and use the documentation here to pull the reviews for that business: https://www.yelp.com/developers/documentation/v3/business_reviews
- **Challenge**: generalize the previous step by writing a function that (1) takes a list of business ids as an input, (2) calls the reviews API for each id, (3) returns the results, and (4) rowbinds all results